.sentences {
   height: 350px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 75px;

   h2 {
      width: 851px;
      text-align: center;
      @include styleText(400, 36px, 44px);
   }

   p {
      padding-top: 16px;
      @include styleText(400, 24px, 29px);
   }

   img {
      margin-top: 8px;
   }
}

footer {
   height: 268px;
   background-image: url(../img/backgroundFooter.svg);
   background-repeat: no-repeat;
   background-size: cover;
}
